.container {
    .header {
        background-color: #0368b5;
        color: white;
        position: sticky;
        top: 0;
        box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);

        .custom-header {
            margin: 0;
            padding: 20px 40px;
            font-weight: 500;
        }
    }

    .user-table {
        border: 1px solid #e0e0e0;
        margin-top: 30px;
    }

    .edit-details-form {
        width: 100%;
        padding: 20px 80px;

        .input {
            margin-left: 20px;
            height: 30px;
            width: 50%;
            outline-color: #5eafec61;
            border: 1px solid #cfcccc;
            border-radius: 4px;
        }
    }

    .form-btn {
        width: 120px;
        height: 32px;
        border-radius: 4px;
        outline: none;
        font-size: 14px;
        background: #063e69;
        border: none;
        color: white;
    }

    .cancel-btn {
        background: grey;
        margin-left: 20px;
    }

    .edit-details-form {
        display: flex;
        flex-direction: column;
    }

    .form-rows {
        display: flex;
        flex-wrap: wrap;
    }

    .form-row {
        width: 50%;
        box-sizing: border-box;
        padding: 0 10px;
        margin-bottom: 15px;
        display: flex;
    }

    .input {
        width: 100%;
    }

    .button-row {
        margin: 10px 0px 5px;
    }

    .input-label {
        display: block;
        width: 18%;
    }
}

tr.example-detail-row {
    height: 0;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.mat-column-expand {
    width: 1px;
}